{% extends 'base.html' %} 
{% block content %}

<div>
    <form class="mx-auto mt-5" style="max-width: 30rem;" action="" method="post">
        <h3 class="text-center mb-4 text-accent">Set Panic Password</h3>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form1Example2" class="form-control shadow-none" name="panic_password" />
          <label class="form-label" for="form1Example2">Password</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control shadow-none" name="panic_password2" />
            <label class="form-label" for="form1Example2">Confirm Password</label>
          </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="form1Example1" class="form-control shadow-none" name="panic_amount" />
            <label class="form-label" for="form1Example1">Amount</label>
          </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block shadow-none">Submit</button>
      </form>
</div>

{% endblock content %}