{% extends 'base.html' %}
{% block content %} 


<div class="mt-5">
  <form action="" class="d-flex">
    <select name="status" id="" class="form-control" style="width: 6rem;">
      <option value="" disabled {% if not status %} selected {% endif %}>Status</option>
      <option value="Success" {% if status == 'Success' %} selected {% endif %}>Success</option>
      <option value="Failed" {% if status == 'Failed' %} selected {% endif %}>Failed</option>
      <option value="Pending" {% if status == 'Pending' %} selected {% endif %}>Pending</option>
      <option value="Refunded" {% if status == 'Refunded' %} selected {% endif %}>Refunded</option>
    </select>

    <select name="category" id="" class="form-control" style="width: 6rem; margin-left: .7rem;">
      <option value="" disabled {% if not category %} selected {% endif %}>Categories</option>
      {% for cat in cats %}
      <option value="{{ cat.id }}" {% if category == cat.id %} selected {% endif %}>{{ cat.category }}</option>
      {% endfor %}
    </select>

    <select name="types" id="" class="form-control" style="width: 6rem; margin-left: .7rem;">
      <option value="" disabled {% if not types %} selected {% endif %}>Types</option>
      <option value="CRT" {% if types == 'CRT' %} selected {% endif %} >Credit</option>
      <option value="DBT" {% if types == 'DBT' %} selected {% endif %}>Debit</option>
    </select>

    <input type="text" name="ref" id="" class="form-control" placeholder="Reference" style="width: 6rem; margin-left: .8rem;" value="{% if ref %}{{ ref }}{% endif %}">

    <button type="submit" class="btn primary-btn mx-2"><i class="fas fa-filter"></i></button>
    {% if show %}
    <a href="{{url_for('view.showtransaction')}}" class="btn primary-btn mx-2 text-decoration-none"><i class="fas fa-undo"></i></a>
    {% endif %}
  </form>
</div>
<!-- Table -->

<div class="mt-2">
  <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
          <div class="position-relative card table-nowrap table-card">
              <div class="table-responsive">
                  <table class="table table-hover mb-0">
                      <thead class="small text-uppercase table_head text-white">
                          <tr class="">
                              <th class="py-3">Transaction Type</th>
                              <th class="py-3">Date</th>
                              <th class="py-3">Category</th>
                              <th class="py-3">Amount</th>
                              <th class="py-3">Status</th>
                              <th class="py-3">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for transaction in transactions %}
                        <tr class="align-middle">
                              <td class="fw-normal {% if transaction.transaction_type == 'DBT' %}text-danger{% else %}text-success{% endif %}">
                                {% if transaction.transaction_type == "DBT" %} Debit {% else %} Credit {% endif %}
                              </td>
                              <td>{{ transaction.date_posted.strftime('%Y-%m-%d') }}</td>
                              <td class="notf-detail">{{ transaction.trans_category.category }}</td>
                              <td>
                                  {% if transaction.transaction_type == "DBT" %}-{% else %}+{% endif %}<del style="text-decoration-style: double;">N</del> {{ "{:,.2f}".format(transaction.transaction_amount) }}
                              </td>
                              <td class="{% if transaction.status == 'Pending' %}text-warning{% else %}text-success{% endif %}">
                                  {{ transaction.status }}
                              </td>
                              <td>
                          <a href="{{url_for('view.view_transaction', trans_id=transaction.id)}}" class="text-decoration-none btn primary-btn">
                                View
                                </a>
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
  <!-- ..........End of table.............. -->
  <!-- Pagination -->
<div class="pagination justify-content-center mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if transactions.has_prev %}
        <li class="page-item">
          <a class="page-link primary-btn border-0" href="{{ url_for('view.showtransaction', page=transactions.prev_num) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for num in transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if num %}
          <li class="page-item {% if num == transactions.page %}active{% endif %}">
            <a class="page-link primary-btn border-0" href="{{ url_for('view.showtransaction', page=num) }}">{{ num }}</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
      {% endfor %}
      {% if transactions.has_next %}
        <li class="page-item">
          <a class="page-link primary-btn border-0" href="{{ url_for('view.showtransaction', page=transactions.next_num) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

  {% endblock content %}