{% extends 'base.html' %}

{% block content %}
<div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}" role="alert"
          style="height: 3.5rem; transition: 0.6s; width: fit-content; padding-right: 6rem; padding-left: 6rem;">
          {% if category=='success' %}
          <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
          {% else %}
          <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
</div>

<div class=" d-flex justify-content-center mt-5" style="width: fit-content; position: relative;">
    <img
    src="{{ current_user.photo }}"
    class="img-thumbnail article-img"
    style="width: 10rem"
    alt="{{ current_user.last_name.title() + ' ' +
    current_user.first_name.title() }} image"
    id="profile-img"
  />
  <small class="text-white bg-secondary px-3"  onclick="chooseFile();" id="upl" style="border-radius: 10px;">Select Photo</small>
</div>



<form action="" method="post" class="mb-5" enctype="multipart/form-data">
    <!-- For image validations -->
    <!-- {{ form.image.label(class='label') }} -->
    <div style="height: 0px; overflow: hidden">
        {{ form.image(class=" w-100 mt-5 form-control-file",
        required=False, placeholder="Enter email", id="fileInput") }}
    </div>
    

    <input type="submit" value="Upload" class="btn btn-success mt-2 py-0 px-2" style="font-size: small;">

</form>

{% endblock content %}