{% extends 'base.html' %}
{% block content %}

<style>

    /* Hide the radio input */
    .form-check-input {
        display: none;
    }
</style>

<div class="d-flex justify-content-between mt-4">
    {% for service in services %}
        {% if service['image'] %}
            <div class="px-2">
                <label class="selected-image" onclick="checkRadio('{{ service['name'] }}', this)">
                    <img src="{{ service['image'] }}" class="card-img-top rounded-circle img-thumbnail mb-2 w-75 m-auto" alt="{{ service['name'] }}">
                    <a href="{{ url_for('bills.set_img_and_redirect', service_id=service['serviceID'], img=service['image']) }}" class="d-none" id="click_me{{ service['name'] }}">click</a>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="serviceRadios" id="{{ service['name'] }}">
                    </div>
                </label>
                
            </div>
            {% endif %} 
            {% endfor %}
        </div>
            
{% if variations %}
<img src="{{ img }}" class="card-img-top img-thumbnail m-auto d-flex justify-content-center" alt="image" style="width: 10rem;">
<form action="" class="form-group">
<select name="" id="" class="form-control w-50">
    <option value="select" disabled selected>Select</option>
    {% for variation in variations %}
        <option value="{{ variation['variation_code'] }}">{{ variation['variation_code'] }} - {{ variation['name'] }}</option>
    {% endfor %}
</select>
</form>
{% endif %}

<script>

    function checkRadio(name, element) {
        // Remove the 'checked' class from all elements
        var elements = document.querySelectorAll('.px-2');
        elements.forEach(function (el) {
            el.classList.remove('checked');
        });

        // Add the 'checked' class to the clicked element
        element.classList.add('checked');

        // Remove the 'bg-secondary' class from all images
        var images = document.querySelectorAll('.selected-image img');
        images.forEach(function (img) {
            img.classList.remove('bg-secondary');
        });

        // Add the 'bg-secondary' class to the clicked image
        var clickedImage = element.querySelector('.selected-image img');
        clickedImage.classList.add('bg-secondary');

        document.getElementById(name).checked = true;
        // serviceId = document.getElementById("service_id").textContent
        // console.log(serviceId, "service id")
        document.getElementById(`click_me${name}`).click()


        

    }
</script>

{% endblock %}
