<title>Login</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@400;700&family=Sora&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{{ url_for('static', filename='css/customStyle.css') }}"/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/customStyle.css') }}"
    />
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='javascript/jquery-3.6.1.min.js') }}"
  ></script>

  <!-- Js -->

  <script
    src="{{ url_for('static', filename='javascript/script.js') }}"
    defer
  ></script>
  <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo-normal.png') }}"
    />



<div class="login-container">
  <a href="{{ url_for('view.front_page') }}" class="navbar-brand">
    <img
      src="{{ url_for('static', filename='images/logo-white.png') }}"
      alt="company's logo"
      style="width: 2.5rem"
    />
    <span>&nbsp;Easy<span class="text-green">Transact</span></span>
  </a>
<div class="d-flex login">
<form
  action=""
  method="post"
  class="login p-5 mt-5 w-100"
>

 <!-- Flash messages -->
 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
      role="alert"
      style="height: 3.5rem; transition: 0.6s"
    >
    {% if category=='success' %}
      <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% else %}
      <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% endif %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}


  <p class="login-header h3">Login to EasyTransact</p>
  <p class="text-muted"> login with your email address</p>
  {{ form.hidden_tag() }}

  
  <!-- For Emails validations -->
  <div>{{ form.email.label(class='label fw-bold mt-4 mb-2') }}
  {% if form.email.errors %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% for error in
  form.email.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% endif %}</div>
  
  <!-- For password validations -->
  <div>{{ form.password.label(class='label text-muted fw-bold mt-4 mb-2') }}
  {% if form.password.errors %} {{ form.password(class="form-control p-2
  ", required=False, placeholder='Enter password') }} {% for error in
  form.password.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.password(class="form-control p-2 ",
  required=False, placeholder='Enter password') }} {% endif %}</div>

  <p style="color: black; margin-top: 1rem" class="text-muted">
    Forgot Password?
    <a
      class="reset"
      style="text-decoration: none; "
      href="{{ url_for('view.reset_password') }}"
      >Reset it</a
    >
  </p>

  <!-- For submit button -->
  {{ form.submit(size=20, class='btn btn-success mt-1 w-25')}}

  <p style="color: black; margin-top: 1rem" class="text-muted  small">
    If you don't have an account, you can register
    <a
      class="signup"
      style="text-decoration: none;"
      href="{{ url_for('auth.register') }}"
      >here</a
    > to get an account in a few minutes
  </p>
</form>

<!--<img class="login-img w-50.d-none.d-lg-block px-5" src="{{ url_for('static', filename='images/login.svg') }}" alt="login">-->
</div>
</div>
