<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@400;700&family=Sora&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{{ url_for('static', filename='css/customStyle.css') }}"/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/customStyle.css') }}"
    />
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='javascript/jquery-3.6.1.min.js') }}"
  ></script>

  <!-- Js -->

  <script
    src="{{ url_for('static', filename='javascript/script.js') }}"
    defer
  ></script>
  <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo-normal.png') }}"
    />
<title>Sign Up</title>
</head>
<body>

<div class ='signup-container' style="height: fit-content;">
  <a href="{{ url_for('view.front_page') }}" class="navbar-brand">
    <img
      src="{{ url_for('static', filename='images/logo-white.png') }}"
      alt="company's logo"
      style="width: 3rem"
    />
    <span>&nbsp;Easy<span class="text-green">Transact</span></span>
  </a>
<div class="d-flex signup-wrapper">
<form
  action=""
  method="post"
  class="mt-5"
>

 <!-- Flash messages -->
 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
      role="alert"
      style="height: 3.5rem; transition: 0.6s"
    >
    {% if category=='success' %}
      <div class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</div>
      {% else %}
      <div class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</div>
      {% endif %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}


  <p class="signup-header h3">Create an EasyTransact account</p>
  <p class="text-muted">To register, please provide a valid details</p>
  {{ form.hidden_tag() }}

  <!-- For First name validations -->
  {{ form.first_name.label(class='label text-muted fw-bold mt-4   mb-2') }}

  {% if form.first_name.errors %} {{ form.first_name(class="form-control p-2",
  required=False, placeholder="Enter First Name") }} {% for error in
  form.first_name.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
  {% endfor %} {% else %} {{ form.first_name(class="form-control p-2",
  required=False, placeholder="Enter First Name") }} {% endif %}


    <!-- For Last name validations -->
    {{ form.last_name.label(class='label text-muted fw-bold mt-4   mb-2') }}

    {% if form.last_name.errors %} {{ form.last_name(class="form-control p-2",
    required=False, placeholder="Enter Last Name") }} {% for error in
    form.last_name.errors %}
    <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
    {% endfor %} {% else %} {{ form.last_name(class="form-control p-2",
    required=False, placeholder="Enter Last Name") }} {% endif %}

  <!-- For Emails validations -->
  {{ form.email.label(class='label text-muted fw-bold mt-4   mb-2') }}

  {% if form.email.errors %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% for error in
  form.email.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
  {% endfor %} {% else %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% endif %}


    <!-- For Phone number validations -->
    {{ form.phone_number.label(class='label text-muted fw-bold mt-4   mb-2') }}

    {% if form.phone_number.errors %} {{ form.phone_number(class="form-control p-2",
    required=False, placeholder="Enter Phone Number (080 xxxxxxx)") }} {% for error in
    form.phone_number.errors %}
    <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
    {% endfor %} {% else %} {{ form.phone_number(class="form-control p-2",
    required=False, placeholder="Enter Phone Number (080X XXX XXXX)") }} {% endif %}


          <!-- For Invited validations -->
    {{ form.invited_by.label(class='label text-muted fw-bold mt-4   mb-2') }}

    {% if form.invited_by.errors %} {{ form.invited_by(class="form-control p-2",
    required=False, placeholder="Enter Invitation code") }} {% for error in
    form.invited_by.errors %}
    <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
    {% endfor %} {% else %} {{ form.invited_by(class="form-control p-2",
    required=False, placeholder="Enter Invitation code") }} {% endif %}


    <!-- For Username validations -->
    {{ form.username.label(class='label text-muted fw-bold mt-4   mb-2') }}

    {% if form.username.errors %} {{ form.username(class="form-control p-2",
    required=False, placeholder="Enter Userame") }} {% for error in
    form.username.errors %}
    <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
    {% endfor %} {% else %} {{ form.username(class="form-control p-2",
    required=False, placeholder="Enter Username") }} {% endif %}


  <!-- For password validations -->
  {{ form.password.label(class='label text-muted fw-bold mt-4   mb-2') }}

  {% if form.password.errors %} {{ form.password(class="form-control p-2
   ", required=False, placeholder='Enter password') }} {% for error in
  form.password.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
  {% endfor %} {% else %} {{ form.password(class="form-control p-2  ",
  required=False, placeholder='Enter password') }} {% endif %}


    <!-- For Confrim password validations -->
    {{ form.confirm_password.label(class='label text-muted fw-bold mt-4   mb-2') }}

    {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control p-2
     ", required=False, placeholder='Confirm password') }} {% for error in
    form.confirm_password.errors %}
    <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
    {% endfor %} {% else %} {{ form.confirm_password(class="form-control p-2  ",
    required=False, placeholder='Confirm password') }} {% endif %}


  <!-- For submit button -->
  {{ form.submit(size=20, class='btn btn-success mt-4 ')}}

  <p style="color: black; margin-top: 1rem" class="text-muted  small login-txt">
    Have an account?
    <a
      class="login"
      style="text-decoration: none; font-weight: 700"
      href="{{ url_for('auth.login') }}"
      >Login</a
    > to access your account
  </p>
</form>
</div>
</div>
</body>
</html>