{% extends 'base.html' %}
{% block content %} 

<!-- Table -->

<div class="transaction-container mt-5">
    <div class="bg-mild">
      <header class="text-muted text-center">
        <span scope="col">Type</span>
        <span scope="col">details</span>
        <!-- <th scope="col">User</th>
        <th scope="col">Date</th> -->
      </header>
    </div>
    <div>
      {% for transaction in current_user.transacts[::-1] %}
      {% if transaction.transaction_type == 'CRT' %}
      <div class="notification  text-center text-light">
        <small class='credit' scope="credit">{{ transaction.transaction_type }}</small>
        <div class='notf-detail'>Money received  from {{ transaction.sender.lower() }}  <div class='value'><del style="text-decoration-style: double;">N</del> {{ transaction.transaction_amount }}  {{ transaction.date_posted.strftime('%Y-%m-%d') }} {{ transaction.date_posted.strftime('%I:%M %p') }}</div></div>
        <!-- <td><del style="text-decoration-style: double;">N</del>{{ transaction.transaction_amount }}</td>
        <td>@{{ transaction.sender.lower() }}</td>
        <td>{{ transaction.date_posted.strftime('%Y-%m-%d') }}</td> -->
      </div>
      {% else %}
      <div class="notification  text-center text-light">
        <small class='debit' scope=" debit">{{ transaction.transaction_type }}</small>
        <div class='notf-detail'>Money sent  to {{ transaction.sender.lower() }} <div class='value'><del style="text-decoration-style: double;">N</del> {{ transaction.transaction_amount }}  {{ transaction.date_posted.strftime('%Y-%m-%d') }} {{ transaction.date_posted.strftime('%I:%M %p') }} </div></div>
        <!-- <td><del style="text-decoration-style: double;">N</del>{{ transaction.transaction_amount }}</td>
        <td>@{{ transaction.sender.lower() }}</td>
        <td>{{ transaction.date_posted.strftime('%Y-%m-%d') }}</td> -->
      </div>
      {% endif %}
      {% endfor %}
        </div>
      </div>
  <!-- ..........End of table.............. -->

  {% endblock content %}