{% extends 'base.html' %}
{% block content %} 

<!-- Table -->

<div class="transaction-container mt-5">
    <div class="bg-mild">
      <header class="text-muted text-center">
        <span scope="col">Type</span>
        <span scope="col">details</span>
        <!-- <th scope="col">User</th>
        <th scope="col">Date</th> -->
      </header>
    </div>
    <div>
      {% for transaction in current_user.transacts[::-1] %}
          {% if transaction.transaction_type == 'CRT' %}
          <a href="{{url_for('view.view_transaction', trans_id=transaction.id)}}" class="text-decoration-none">
            <div class="notification  text-center text-light">
              <div class="" style="width: 10%;">
              <small class='credit' scope="credit">{{ transaction.transaction_type }}</small>
              </div>
              <div class='notf-detail'><span>{{ transaction.description }}</span><span>{{
                  transaction.date_posted.strftime('%Y-%m-%d') }}</span> </div>
              <div class='value'>+ <del style="text-decoration-style: double;">N</del> {{ transaction.transaction_amount }} </div>
            </div>
          </a>
          {% else %}
          <a href="{{url_for('view.view_transaction', trans_id=transaction.id)}}" class="text-decoration-none">
            <div class="notification  text-center text-light">
              <div class="" style="width: 10%;">
              <small class='debit' scope=" debit">{{ transaction.transaction_type }}</small>
              </div>
              <div class='notf-detail'><span>{{ transaction.description }}</span><span>{{
                  transaction.date_posted.strftime('%Y-%m-%d') }}</span> </div>
              <div class='value'>- <del style="text-decoration-style: double;">N</del> {{ transaction.transaction_amount }} </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  <!-- ..........End of table.............. -->

  {% endblock content %}